@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
// $btn-spacer: 0.5rem !default;
// $btn-font-size: var(--text-base) !default;
// $btn-font-weight: 500 !default;
// $btn-padding: 0.70rem 0.70rem !default;
/* @docs */

.button {
    padding: 0.7rem 0.7rem;
    font-size: var(--text-base);
    font-weight: 500;
    line-height: normal;

    @each $name, $pair in vars.$theme-colors {
        $variant: list.nth($pair, 1);
        $variant-invert: list.nth($pair, 2);

        &.is-#{$name} {
            background-color: $variant;
            border-color: $variant;
            color: white;

            &:hover {
                opacity: 0.7;
            }

            &.is-outlined {
                background-color: transparent;
                color: $variant;

                &:hover {
                    background-color: $variant;
                    color: white;
                }

                &.is-loading:after {
                    content: "";
                    border-color: $variant;
                    border-right-color: transparent;
                    border-top-color: transparent;
                }
            }

            &.is-inverted {
                color: $variant;
                background-color: transparent;
                border-color: transparent;

                &:hover {
                    background-color: $variant-invert;
                    color: $variant;
                    border-color: $variant;
                }

                &.is-loading:after {
                    content: "";
                    border-color: $variant;
                    border-right-color: transparent;
                    border-top-color: transparent;
                }
            }
        }
    }

    &.is-small {
        font-size: var(--text-xs);
    }

    &.is-medium {
        font-size: var(--text-base);
    }

    &.is-large {
        font-size: var(--text-2xl);
    }

    .icon {
        margin-right: 0.5rem;
        margin-left: calc(0.5rem / 2);
    }

    &.is-loading:after {
        content: "";
        position: absolute;
        left: calc(50% - 0.5em);
        top: calc(50% - 0.5em);
        border: 2px solid white;
        border-radius: 9999px;
        border-right-color: transparent;
        border-top-color: transparent;
        display: block;
        height: 1em;
        width: 1em;
        animation: spinAround 0.5s infinite linear;
    }
}

.button:not(:last-child):not(.w-full) {
    margin-right: 0.5rem;
}
