
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.datepicker {
    .datepicker-header {
        .pagination-previous {
            order: 1;
            padding: 0;
        }
        .pagination-list {
            order: 2;
        }
        .pagination-next {
            order: 3; 
            margin: 0;
            padding: 0;
        }
    }
    .datepicker-table {
        // padding: 0 10px;
        .datepicker-header{
            display: table-header-group;
            font-weight: bold;
            table-layout: fixed; 
            width: 100%;
        }
        .datepicker-body .datepicker-row {
            display: table-row;
            table-layout: fixed; 
            width: 100%;
        }
    }

    .datepicker-cell {
        text-align: center;
        display: table-cell;
        width: 3.1rem;
        padding: .5rem .75rem;
        cursor: pointer;

        .events {
            .event {
                background-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
                
                @each $name, $pair in vars.$theme-colors {
                $variant: list.nth($pair, 1);
                $variant-invert: list.nth($pair, 2);

                &.is-#{$name} {
                    background-color: $variant;
                }
            }
            }
        }
    }
}
