@use "sass:map";
@use "../utils/all" as utils;
@use "../utils/variables" as vars;

/* @docs */
/* @docs */

.sidebar {
    &.is-inline {
        position: static;

        .sidebar-content,
        .sidebar-background {
            position: static;
            display: inline;
        }
    }

    .sidebar-content {
        position: fixed;
    }

    .sidebar-background {
        position: fixed;
    }
}
