@use "sass:map";
@use "sass:list";
@use "../utils/variables" as vars;

.slider {
    .slider-track {
        .slider-fill {
            background-color: list.nth(
                map.get(vars.$theme-colors, "primary"),
                1
            );
            height: inherit;

            @each $name, $pair in vars.$theme-colors {
                $variant: list.nth($pair, 1);
                $variant-invert: list.nth($pair, 2);

                &.is-#{$name} {
                    background-color: $variant;
                }
            }
        }

        .slider-tick {
            height: inherit;
            .slider-tick-label {
                font-size: var(--text-xs);
            }
        }
    }
}
