@use "sass:map";
@use "sass:list";
@use "../utils/variables" as vars;

/* @docs */
/* @docs */

.tabs-wrapper {
    &.boxed {
        .tab-link {
            &.is-active {
                background-color: list.nth(
                    map.get(vars.$theme-colors, "primary"),
                    2
                );
                color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
            }
        }
    }

    &.toggle {
        .tab-link {
            &.is-active {
                background-color: list.nth(
                    map.get(vars.$theme-colors, "primary"),
                    1
                );
                color: white;
            }
        }
    }

    &.pills {
        .tab-link {
            &.is-active {
                background-color: list.nth(
                    map.get(vars.$theme-colors, "primary"),
                    1
                );
                color: white;
            }
        }
    }

    &.default {
        .tab-link {
            &.is-active {
                border-bottom: 1px solid;
                color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
            }
        }
    }
}
